body {
    font-size: 17px;
    background-color: #e9ecef;
}
.btn-danger {
    color: #fff;
    background-color: #f00000;
    border-color: #dc281e;
}
.masthead {
    background: #5bc0de;
    height: auto;
    padding-bottom: 15px;
    padding-top: 10px;
}