{% extends 'base.html' %} {% block content %}

<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h3 class=" site-heading my-4 mt-3 text-white"> Meet the masterminds behind this awesome operation</h3>
                    <p class="text-light"> Contact information is obfuscated for privacy.  Reach out on LinkedIn. &nbsp
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
  <div class="row">
      <!-- Blog Entries Column -->
        <div class="col-md-8 mt-3 left">
            {% for author in author_list %}
          <div class="card mb-4">
              <div class="card-body">
                  <h2 class="card-title">{{ author.name }}</h2>
                  <p class="card-text text-muted h6">{{ author.title }}</p>
                  <p class="card-text">email: {{ author.email }}</p>
                  <p class="card-text">phone: {{ author.phone }}</p>
                  <a href="https://www.linkedin.com/in/anthony-kugel-672aabb3/" class="btn btn-info">LinkedIn &rarr;</a>
              </div>
          </div>
        {% endfor %}
      </div>
      {% block sidebar %} 
      {% include 'sidebar.html' %} 
      {% endblock sidebar %}
  </div>
</div>


{% endblock content %}
