{% extends 'base.html' %} {% block content %}

<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h3 class=" site-heading my-4 mt-3 text-white"> Meet the masterminds behind this awesome operations</h3>
                    <p class="text-light"> And hopefully give one of us a job. &nbsp
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
  <div class="row">
      <!-- Blog Entries Column -->
      <div class="col-md-8 mt-3 left">
          <div class="card mb-4">
              <div class="card-body">
                  <h2 class="card-title">Anthony Kugel</h2>
                  <p class="card-text text-muted h6">Meme necromancer</p>
                  <p class="card-text">email: dummyemail@not.real</p>
                  <p class="card-text">phone: 555-555-5555</p>
                  <a href="https://www.linkedin.com/in/anthony-kugel-672aabb3/" class="btn btn-info">LinkedIn &rarr;</a>
              </div>
          </div>
          <div class="card mb-4">
            <div class="card-body">
                <h2 class="card-title">Kaleigh-Ane Stirling</h2>
                <p class="card-text text-muted h6">Au Pair</p>
                <p class="card-text">email: dummyemail@not.real</p>
                <p class="card-text">phone: 555-555-5555</p>
                <a href="https://www.linkedin.com/in/kaleigh-stirling-a6508613a/" class="btn btn-info">LinkedIn &rarr;</a>
            </div>
        </div>
      </div>
      {% block sidebar %} 
      {% include 'sidebar.html' %} 
      {% endblock sidebar %}
  </div>
</div>


{% endblock content %}