{% extends 'base.html' %} {% block content %}

<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h3 class=" site-heading my-4 mt-3 text-white"> Meet the masterminds behind this awesome operations</h3>
                    <p class="text-light"> And hopefully give one of us a job. &nbsp
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      <div class="card-body">
        <h1>Anthony Kugel</h1>
        <p class=" text-muted">Meme Necromancer</p>
        <p class="card-text ">email: dummyemail@not.real <br>
        phone: 555-555-5555</p>
        <a href="https://www.linkedin.com/in/anthony-kugel-672aabb3/" class="btn btn-primary">LinkedIn &rarr;</a>
      </div>
    </div>
    <div class="col-md-8 card mb-4  mt-3 left  top">
        <div class="card-body">
          <h1>Kaleigh-Ane Stirling</h1>
          <p class=" text-muted">Au Pair</p>
          <p class="card-text ">email: fake@address.dontuse <br>
          phone: 555-555-5555</p>
          <a href="https://www.linkedin.com/in/kaleigh-stirling-a6508613a/" class="btn btn-primary">LinkedIn &rarr;</a>
        </div>
      </div>
 
  </div>
</div>

{% endblock content %}