{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }
       
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
    <div class="card my-4">
            <h5 class="card-header">About Me</h5>
        <div class="card-body">
            <p class="card-text">I'm Anthony Kugel, an aspiring web developer! I made this site on django with the help of
                djangocentral.com
            </p>
            <a href="https://www.linkedin.com/in/anthony-kugel-672aabb3/"
            class="btn btn-danger">Hire me!</a>
        </div>
    </div>
    <div class="card my-4">
        <h5 class="card-header">What I'm listening to</h5>
        <div class="card-body">
            <iframe src="https://open.spotify.com/embed/playlist/3R1qRfrYMPTdbkObxD1GJv" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </div>
    </div>
</div>

{% endblock sidebar %}