name: Docker Image CI

on:
  push:
    branches: [ "master", "blob-storage" ]
  pull_request:
    branches: [ "master" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2
    - name: Docker Login
      uses: docker/login-action@v2.1.0
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    - id: commit
      uses: pr-mpt/actions-commit-hash@v2
    - name: Build and push
      uses: docker/build-push-action@v3
      with:
        push: true
        tags: ${{ secrets.DOCKERHUB_USERNAME }}/test-django-web-app:${{ steps.commit.outputs.short }}, ${{ secrets.DOCKERHUB_USERNAME }}/test-django-web-app:latest
        secrets: | 
          "BLOB_STATIC_KEY=${{ secrets.BLOB_STATIC_KEY }}"
          "BLOB_MEDIA_KEY=${{ secrets.BLOB_MEDIA_KEY }}"
          "AZURE_STORAGE_ACCOUNT=${{ secrets.AZURE_STORAGE_ACCOUNT }}"
